<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Speciality Pizza</title>
    <link rel="shortcut icon" href="Pizzaicon.png" type="image/x-icon" />
  </head>
  <body>
    <h1>Speciality Pizza: {{name}}</h1>
    {{! <p><strong>Name:</strong> Anchovy Lover's</p> }}
    <p><strong>Name:</strong> {{this.name}}</p>
    <p><strong>Price:</strong> {{this.price}}</p>
    <a href="/">Back to Homepage</a>
  </body>
</html>